.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  /* margin: 80px; */
  /* margin: 80px 170px; */
}
.mywork-title {
  position: relative;
}
.mywork-title h1 {
  padding: 0px 30px;
  font-size: 40px;
  font-weight: 600;
}
.mywork-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.mywork-container {
  display: grid;

  grid-template-columns: 1fr;
  gap: 50px;
}
/* .mywork-container */

.mywork-container img {
  width: 350px;
  height: 280px;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}
.mywork-container img:hover {
  transform: scale(1.1);
  /* border: 1px solid #ff00ff; */
  /* border-radius: 10px; */
  transition: 0.3s;
}
.mywork-showmore {
  display: flex;
  gap: 15px;
  border-radius: 50px;
  border: 2px solid white;
  padding: 20px 40px;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 80px;
  transition: 0.6s;
  cursor: pointer;
}
.mywork-showmore:hover {
  gap: 30px;
  transition: 0.6s;
}
.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.mywork-title h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.mywork-container {
  position: relative;
  overflow: hidden;
}

.mywork-container img {
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.mywork-container .active {
  opacity: 1;
}

.mywork-showmore {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 18px;
}

.mywork-showmore p:hover {
  text-decoration: underline;
}

@media (max-width: 760px) {
  .mywork {
    gap: 50px;
    margin: 50px 70px;
    /* align-items: start; */
  }
  .mywork-title h1 {
    padding: 0;
    font-size: 50px;
    font-weight: 600;
  }
  .mywork-title img {
    width: 130px;
    margin-right: -20px;
  }
  .mywork-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 30px; */
  }
  .mywork-containerimg {
    width: 100%;
    height: 100%;
  }
  .mywork-showmore {
    padding: 20p 40px;
    font-size: 18px;
    margin: 50px auto;
    cursor: pointer;
  }
  .mywork-container {
    display: flex;
    transition: transform 0.5s ease;
  }

  .mywork-container img {
    flex: 0 0 100%;
    transition: transform 0.5s ease;
  }

  .mywork-container .active {
    transform: translateX(-100%);
  }
}
