.contact {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  /* gap: 80px; */
  /* margin: 80px 170px; */
  /* background-color: orangered; */
}
.contact-title {
  position: relative;
}
.contact-title h1 {
  padding: 30px;
  font-size: 30px;
  font-weight: "600";
}
.contact-title img {
  position: absolute;
  bottom: 35px;
  right: 10px;
  z-index: -1;
  /* background-color: #b415ff; */
}
.contact-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 50px;
}
.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.conatct-left h1 {
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-left p {
  max-width: 550px;
  color: #d8d8d8;
  font-size: 15px;
  line-height: 35px;
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #d8d8d8;
  font-size: 22px;
}
.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-right {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}
.contact-right label {
  color: #d8d8d8;
  font: 22px;
  font-weight: 500;
}
.contact-right input {
  border: none;
  width: 700px;
  height: 78px;
  padding-left: 20px;
  border-radius: 4px;
  background: #32323c;
  font-family: "Plus Jakarta Sans";
  font-size: 15px;
  color: white;
  outline-color: unset;
}
.contact-right textarea {
  width: 650px;
  border: none;
  padding: 25px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-size: 15px;
  outline-color: unset;
}
.contact-submit {
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(270deg, #df8908 -5.09%, #b415ff 106.28%);
  font-size: 22px;
  padding: 20px 60px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.contact-submit:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
@media (max-width: 760px) {
  .contact {
    flex-wrap: nowrap;
  }
  .contact-section {
    display: unset;
    gap: 150px;
  }
  .contact-right {
    flex-wrap: wrap;
    gap: 20px;
  }
  .contact {
    gap: 50px;
    margin: 50px 70px;
    align-items: start;
  }
  .contact-title h1 {
    padding: 0;
    font-size: 50px;
    font-weight: 600;
  }
  .contact-left {
    gap: 20px;
    margin-bottom: 30px;
  }
  .contact-title img {
    width: 130px;
    margin-right: -20px;
  }
  .contact-section {
    flex-direction: column;
  }
  .contact-left h1 {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
  }
  .contact-left p {
    font-size: 11px;
  }
  .contact-detail {
    gap: 20px;
  }
  .contact-detail img {
    width: 25px;
  }
  .contact-right label {
    font-size: 12px;
  }

  .contact-right input {
    width: 90%;
  }
  .contact-right input::placeholder {
    font-size: 12px;
  }
  .contact-right textarea {
    width: 95%;
    font-size: 13px;
  }
  .contact-submit {
    font-size: 15px;
    width: 50%;
    padding: 15px 40px;
  }
  .contact-details {
    gap: 20px;
  }
}
