.footer {
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top-left p {
  font-size: 15px;
  max-width: 400px;
  line-height: 1.7;
}

.footer-top-right {
  display: flex;
  align-items: center;

  gap: 35px;
}

.footer-email-input {
  display: flex;
  gap: 30px;
  padding: 20px 30px;
  border-radius: 50px;
  background: #32323b;
  padding-right: 80px;
  margin-bottom: 20px;
}

.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  font-family: "Plus Jakarta Sans";
  font-size: 15px;
}

.footer-subscribe {
  font-size: 20px;
  padding: 20px;
  padding: 22px 50px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
  transition: 0.3s;
}
.myname {
  font-size: 15px;
}
.contact-submit {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
}

.footer-bottom {
  display: flex;

  font-size: 18px;
  gap: 10px;
}

.footer-bottom-right {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}
.footer-bottom-right a {
  color: white;
  text-decoration: none;
}
.footer-bottom-right span {
  color: #df8908;
  font-size: 20px;
}
.footer-bottom-left {
  font-size: 15px;
}
/* .footer-email-input:hover {
  border: 2px solid white;
} */

/* .footer-subscribe:hover {
  transform: scale(1.1);
  transition: 0.3s;
} */
@media (max-width: 760px) {
  .footer {
    margin: unset;
    padding: 2rem;
    gap: unset;
  }
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }
  .footer-subscribe {
    display: none;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .footer-email-input {
    display: none;
  }
  .footer-bottom-right {
    display: unset;
    font-size: 12px;
    margin-top: 15px;
  }
  .footer-bottom-right p {
    margin-top: 10px;
  }
  .footer-bottom-left {
    font-size: 15px;

    margin-top: 20px;
  }
  .myname {
    font-size: 18px;
  }
  .footer-top-left p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footer-top-right {
    display: none;
  }
}
