.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
}

.ityped-cursor {
  opacity: 1;

  animation: blink 1s infinite;
}
@keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hero img {
  margin-top: 100px;
}
.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
}
.hero span {
  background: linear-gradient(267deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p {
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}
.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 50px;
}
.hero-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
}
.hero-resume {
  padding: 20px 40px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}
.hero-connect:hover {
  border: 2px solid white;
}
.hero-resume:hover {
  border-color: #b415ff;
}
@media (max-width: 760px) {
  .hero {
    justify-content: center;
    gap: 30px;
  }
  .hero img {
    margin-top: 100px;
    width: 200px;
  }
  .hero h1 {
    margin-top: 50px;
    width: 90%;
    font-size: 25px;
  }
  .hero p {
    width: 60%;
    font-size: 12px;
    line-height: 32px;
    margin: 10px 0px;
  }
  .hero-action {
    gap: 16px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .hero-connect {
    padding: 20px 30px;
    border-radius: 40px;
  }
  .hero-resume {
    padding: 20px 40px;
    border-radius: 40px;
  }
}
